/* Sidebar */
.sidebar {
  width: 80px;
  padding: 0px 10px 0px 30px;
  background-color: var(--section-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
  position: fixed; /* Keep sidebar fixed on the left side */
  top: 50px;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
  z-index: 100000; /* Ensure sidebar stays on top */
  height: calc(100% - 50px);
  overflow-x: hidden;
}

/* Sidebar items (icons and text) */
.sidebar-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* ترتيب الأيقونات عموديًا */
  align-items: center; /* جعل الأيقونات في المنتصف */
  justify-content: center;
}
.icon-text {
  font-size: 18px;
  color: #0a0a0a;
  display: block;
  align-items: start;
  justify-content: center;
}

.icon-text span {
  font-size: 18px;
  color: #fff;
  display: block;
  align-items: start;
  justify-content: center;
}

.sidebar-icons li {
  margin: 20px 0;
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
  transition: color 0.3s ease, transform 0.3s ease;
  width: 100%;
}

.sidebar-icons li:hover {
  transform: scale(1.1);
  opacity: 1;
}

.nav-link {
  display: flex;
  text-decoration: none;
}

/* Sidebar icons size */
.sidebar-icons i {
  font-size: 20px;
  margin-right: 10px;
  color: var(--font-color);
  transition: 0.3s ease;
  opacity: 0.5;
}
/* Active tab style */
.active-tab i {
  opacity: 1;
}

/* Sidebar text */
.sidebar-icons span {
  display: none;
  font-size: 18px;
  margin-left: 5px;
  line-height: 1;
  color: var(--font-color);
  transition: 0.3s ease;
  opacity: 0.5;
}
.active-tab span {
  opacity: 1;
}

/* Add transition effect when sidebar expands */
.sidebar:hover {
  width: 200px;
  box-shadow: 4px 0 16px rgba(0, 0, 0, 0.15);
}

/* On hover, show the text */
.sidebar:hover .sidebar-icons li span {
  display: inline-block;
}

/* Content area */
.dashboard-container {
  display: flex;
  min-height: 100vh;     
}

.main-content {
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
  transition: margin-left 0.3s ease;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

/* Styling for the active tab content (Overview) */
.overview {
  height: 100%;
  width: calc(100% - 70px);
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading styles for content */
.overview h2 {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 600;
}

/* Content layout */
.overview-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.overview-item {
  flex: 1;
  background-color: #f0f0f0;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 30px;
}

.overview-item:hover {
  transform: translateY(-10px);
}

.overview-item h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
